.header {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  font-family: 'Roboto', sans-serif;
  display: flex;
  gap: .9375rem;
}

.menu ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
}


@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .header img {
    height: 150px;
    width: 150px;
  }
}