.neighborhood-container-loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.neighborhood-container {
  background: var(--gray-100);
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "sidebar main-content-neighborhood";
  gap: 1.25rem;

}

.main-content-neighborhood {
  grid-area: main-content-neighborhood;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1.25rem;
}

.neighborhood-content {
  height: 100%;
  width: 100%;
  margin: 1.875rem 0;
  background: var(--white-200);
  border-radius: 10px;
  padding: 20px;
}

.form-neighborhood {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 20px;
}

.neighborhood-info {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
}

.neighborhood-info input[type=text],
.neighborhood-info input[type=email],
.neighborhood-info select {
  flex: 1;
  width: 100%;
  background: var(--gray-100);
  border-radius: 8px;
  border: 0;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: #6C6C80;

}

.neighborhood-info input[type=text]:disabled,
.neighborhood-info select:disabled {
  background: var(--gray-200);
  cursor: default;
}

.neighborhood-info label {
  font-size: .875rem;
  margin-bottom: 8px;
  color: #6C6C80;

}


.form-neighborhood {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 20px;
}

.form-neighborhood input:disabled {
  cursor: not-allowed;
}

.neighborhood-footer {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background: var(--white-200);
  padding: .9375rem;
  margin-bottom: 3rem;
}

.neighborhood-footer button {
  border: 1px solid var(--red-400);
  color: var(--blue-800);
  background-color: transparent;
  font-weight: normal;
  padding: .625rem 1rem;
}

.neighborhood-footer button:hover {
  background-color: var(--red-400);
  color: var(--white-200);

}

table{
  border: 1px solid #CCC;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table caption{
  font-size: 1.5em;
  margin: 0.5em 0  0.75em;
}

table tr{
  background-color: #F8f8f8;
  border:1px solid #DDD;
  padding: 0.35em;
}

table th, table td{
  padding: 0.60em;
  text-align: center;
}

table th{
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table td .action{
  border:0;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 3px;
}

table td .action svg{
  display: flex;
  /* vertical-align: middle; */
}

table td .badge{
  padding: 3px;
  border-radius: 3px;
  color: #FFF;
}


@media screen and (max-width: 700px) {
  .neighborhood-container {

    grid-template-columns: auto;
    grid-template-areas:
      "sidebar"
      "main-content-neighborhood";
  }


  .main-content-neighborhood {
    padding: 0 1.25rem;
  }
}

@media screen and (max-width: 600px){
  table{
    border:0;
  };

  table caption{
    font-size: 1.3em;
  }

  table thead{
    border:none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr{
    border-bottom: 3px solid #DDD;
    display: block;
    margin-bottom: 0.60em;
  }

  table td{
    border-bottom: 1px solid #DDD;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}


@media screen and (max-width: 520px) {
  .neighborhood-container {
    gap: 5px;
  }

  .form-neighborhood {
    width: auto;
  }
}