.button-component {
  background: var(--green-500);
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  gap: .625rem;
}

.button-component:hover {
  background: #2FB86E;
}

.button-component:disabled {
  background: #2FB86E;
  cursor: not-allowed;
}